



body { 
	background-image: url();
	background-size: cover;
 }

li {
	color: #AA3939;


 }


 p  { 
	color: #AA3939;
    text-align: center;
    border: 7px solid  rgb(255, 170, 170);
    border
    under
    tex
    display: ;
    position: ;
}

p  {

    line-height: 60px;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Moon Dance', cursive;

} 


img {

	float:left;
	back ;
	text
}

footer{
	clear: both;

	}


button:last-child {
    background-color: r;
}

button:hover {
  background-color: blue;
}



.webtext:last-child {

	border: 5px dashed green;
}

.active { 
	color: darkgray;

}

#div1 {
	background: rgb(73,109, 137, 0.2);
background-color: ;

}


#div2 {
	background: rgb(154,213,142, 0.2);


}


